<h1>Scroll container</h1>
<hr />

<h5>Using querySelector</h5>
<div class="scroll-container" id="my-scroll-container">
  <img *ngFor="let image of images" [defaultImage]="defaultImage" [errorImage]="errorImage"
    [scrollTarget]="myScrollContainer" [lazyLoad]="image" />
</div>
<h5>Using template variable</h5>
<div class="scroll-container" #scrollableDiv>
  <img *ngFor="let image of images" [defaultImage]="defaultImage" [errorImage]="errorImage"
    [scrollTarget]="scrollableDiv" [lazyLoad]="image" />
</div>