<h1>Using querySelector</h1>
    <div class="scroll-container" id="my-scroll-container">
      <img *ngFor="let image of images" [defaultImage]="defaultImage" [errorImage]="errorImage" [scrollTarget]="myScrollContainer" [lazyLoad]="image" />
    </div>

    <h1>Using template variable</h1>
    <div class="scroll-container" #scrollableDiv>
      <img *ngFor="let image of images" [defaultImage]="defaultImage" [errorImage]="errorImage" [scrollTarget]="scrollableDiv" [lazyLoad]="image" />
    </div>